.divVisibleHidden {
   visibility: hidden;
}
.divVisible {
    visibility: visible;
 }

 .okulBilgisi{
    background-color: #dcdfeb;
    padding: 1em;
    margin-bottom: 16px;
    border-radius: 3px;
 }
 .divDisplayNone
 {
     display: none;
 }